<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="oldDashboard.css">

	<script>
		window.onload = function () {
		var linechart = new CanvasJS.Chart("linechartContainer", {
			animationEnabled: true,
			theme: "light2",
			title:{
				text: "Sales & Projection"
			},
			axisX:{
				valueFormatString: "DD MMM",
				crosshair: {
					enabled: true,
					snapToDataPoint: true
				}
			},
			axisY: {
				title: "Revenue (in $1000)",
				crosshair: {
					enabled: true
				}
			},
			toolTip:{
				shared:true
			},  
			legend:{
				cursor:"pointer",
				verticalAlign: "bottom",
				horizontalAlign: "left",
				dockInsidePlotArea: false,
				itemclick: toogleDataSeries
			},
			data: [{
				type: "line",
				showInLegend: true,
				name: "Revenue generated",
				markerType: "square",
				xValueFormatString: "MMM YYYY",
				color: "#F08080",
				dataPoints: [
					{ x: new Date(2017, 0, 3), y: 650 },
					{ x: new Date(2017, 1, 4), y: 700 },
					{ x: new Date(2017, 2, 5), y: 700 },
					{ x: new Date(2017, 3, 5), y: 540 },
					{ x: new Date(2017, 4, 6), y: 558 },
					{ x: new Date(2017, 5, 7), y: 544 },
					{ x: new Date(2017, 6, 8), y: 693 },
					{ x: new Date(2017, 7, 10), y: 853 },
					{ x: new Date(2017, 8, 11), y: 869 },
					{ x: new Date(2017, 9, 12), y: 943 },
					{ x: new Date(2017, 10, 13), y: 970 },
				]
			},
			{
				type: "line",
				showInLegend: true,
				name: "Revenue projected",
				lineDashType: "dash",
				dataPoints: [
					{ x: new Date(2017, 0, 3), y: 650 },
					{ x: new Date(2017, 1, 4), y: 700 },
					{ x: new Date(2017, 2, 5), y: 710 },
					{ x: new Date(2017, 3, 6), y: 658 },
					{ x: new Date(2017, 4, 7), y: 734 },
					{ x: new Date(2017, 5, 8), y: 963 },
					{ x: new Date(2017, 6, 9), y: 847 },
					{ x: new Date(2017, 7, 9), y: 657 },
					{ x: new Date(2017, 8, 10), y: 663 },
					{ x: new Date(2017, 9, 11), y: 639 },
					{ x: new Date(2017, 10, 12), y: 673 },
				]
			}]
		});
		var funnelchart = new CanvasJS.Chart("funnelchartContainer", {
			animationEnabled: true,
			theme: "light2", //"light1", "dark1", "dark2"
			title:{
				text: "Sales Analysis"
			},
			data: [{
				type: "funnel",
				indexLabelPlacement: "inside",
				indexLabelFontColor: "white",
				toolTipContent: "<b>{label}</b>: {y} <b>({percentage}%)</b>",
				indexLabel: "{label} ({percentage}%)",
				dataPoints: [
					{ y: 1000, label: "Leads" },
					{ y: 800, label: "Clients Interested" },
					{ y: 450,  label: "Negotiation" },
					{ y: 300, label: "Order Received" },
					{ y: 290, label: "Payment" }
				]
			}]
		});
		linechart.render();
		function toogleDataSeries(e){
			if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
				e.dataSeries.visible = false;
			} else{
				e.dataSeries.visible = true;
			}
			linechart.render();
		}
		calculatePercentage();
		funnelchart.render();
		function calculatePercentage() {
			var dataPoint = funnelchart.options.data[0].dataPoints;
			var total = dataPoint[0].y;
			for(var i = 0; i < dataPoint.length; i++) {
				if(i == 0) {
					funnelchart.options.data[0].dataPoints[i].percentage = 100;
				} else {
					funnelchart.options.data[0].dataPoints[i].percentage = ((dataPoint[i].y / total) * 100).toFixed(2);
				}
			}
		}
	}
	</script>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(drawChart);
			// Draw the chart and set the chart values
			function drawChart() {
			  var data = google.visualization.arrayToDataTable([
			  ['Lead', 'Size'],
			  ['Individuals', 5],
			  ['Small Enterprise', 29],
			  ['Medium Enterprise', 56],
			  ['Large Enterprise', 8],
			]);
			  // Optional; add a title and set the width and height of the chart
			  var options = {'title':'Lead Size', 'width':960, 'height':500};
			  // Display the chart inside the <div> element with id="piechart"
			  var piechart = new google.visualization.PieChart(document.getElementById('piechart'));
			  piechart.draw(data, options);
			}
		</script>

		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>

<body>
	<div class="flex-container">
		<div id="piechart"></div>
		<div id="funnelchartContainer" style="height: 40%; width: 40%;"></div>
	  <div id="linechartContainer" style="height: 40%; width: 40%;"></div>
	  <div class="eventsWidget">
			<h1> &nbsp; Tasks </h1>
			<div class="eventsScroller">
				<ul>
						<li class="event" > Call Company X </li>
						<li class="eventDate" > Nov. 8 </li>
						<li class="event"> Meeting with ABC</li>
						<li class="eventDate" > Nov. 11 </li>
						<li class="event"> Email XYZ </li>
						<li class="eventDate" > Nov. 11 </li>
						<li class="event"> Transact Lorem's order </li>
						<li class="eventDate" > &nbsp; </li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>
