.add-profile-button {
  z-index: 2;
  top: 55px;
  right: 10px;
  position: absolute;
}

.batch-email-button-accounts {
  z-index: 2;
  top: 55px;
  right: 200px;
  position: absolute;
}

.batch-email-button-leads {
  z-index: 2;
  top: 55px;
  right: 165px;
  position: absolute;
}