.editable-field-component{
  /* margin-top:2px;
  margin-bottom:2px; 
  border-bottom: 1px solid black;
  background-color: red; */
  padding: 1px;
  width: 100%;
}

.inline-section-editable-fields {
  display: flex;
  justify-content: space-between;
}

.inline-section-editable-fields > * {
  display: inline;
}