.editable-field-component{
  padding: 1px;
  width: 100%;
}

.inline-section-editable-fields {
  display: flex;
  justify-content: space-between;
}

.inline-section-editable-fields > * {
  display: inline;
}