.profile-name{
  font-size: 48px;
}

.stage-indicator{
  position: absolute;
  right: 20px;
}

.stage1{
  clip-path: polygon(75% 25%, 95% 50%, 75% 75%, 0 75%, 0 50%, 0 25%);
  padding-left: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  border: 1px solid gray;
  cursor: pointer;
}

.stage2{
  clip-path: polygon(75% 25%, 95% 50%, 75% 75%, 0 75%, 20% 50%, 0 25%);
  padding: 40px;
  border: 1px solid gray;
  cursor: pointer;
}

.stage3{
  clip-path: polygon(100% 25%, 100% 50%, 100% 75%, 0 75%, 25% 50%, 0 25%);
  padding-left: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 15px;
  border: 1px solid gray;
  cursor: pointer;
}

.stage-name {
  z-index: 2;
}