.orders-container {
  overflow: auto;
  height: 300px;
  /* width: 400px; */
}

.view-orders-button {
  /* float: right; */
  width: 100%;
}

.orders-display-dialog-box {
  z-index: 2 !important;
}

/* view-orders-button is set to 290px width inline */