.orders-container {
  overflow: auto;
  height: 300px;
  width: 400px;
}

.spinner-backdrop {
  z-index: 5 !important;
  color: '#fff';
  position: absolute;
}
/* view-orders-button is set to 290px width inline */