.orders-container {
  overflow: auto;
  height: 300px;
  /* width: 400px; */
}

.view-orders-button {
  /* float: right; */
  width: 100%;
}

.spinner-backdrop {
  z-index: 5 !important;
  color: '#fff';
  position: absolute;
}
/* view-orders-button is set to 290px width inline */