body {
  overflow-y: scroll !important;
  padding-right: 0px !important;
}
/* prevents page from jumping when dialog box opens up */

.add-order-button {
  z-index: 2;
  top: 60px;
  right: 10px;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 350px;
}

.complete-orders-button {
  z-index: 2;
  top: 150px;
  right: 10px;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 350px;
  /* fullWidth applied inline */
}

.pricecheck-orders-button {
  z-index: 2;
  top: 105px;
  right: 10px;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 350px;
  /* fullWidth applied inline */
}

.spinner-backdrop {
  z-index: 5 !important;
  position: absolute;
}
