.pretty-list {
  border: 2px solid black;
  border-radius:5px;
  padding: 2px;
  overflow: auto;
  height: 300px;
}

/* Experiences */
ul.experiences {
  padding-left: 15px;
  margin-top: -1px;
}
ul.experiences li {
  padding-left: 33px;
  margin-bottom: 2.5em;
  list-style: none;
}

.where {
  font-size: 1.2857em; /* 18/16 -> 18px */
  font-weight: 300;
  display: inline;
  margin-right: 0.5em;
}
.what {
  font-size: 0.75em; /* 12/16 -> 12px */
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #444444;
  display: inline-block;
  padding: 0 12px;
  margin: -5px 0.5em 0 0 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.what.green {
  background-color: #c4df9b;
}
.what.blue {
  background-color: #6dcff6;
}
.what.pink {
  background-color: #f06eaa;
}
.when {
  float: right;
  color: #b9b9b9;
  font-style: italic;
}
.description {
  display: block;
  margin-top: 0.5em;
}

input.largerCheckbox { 
	transform : scale(1.25); 
} 


/* BORDERS AND BULLETS */

p {
  /*CSS reset*/
  margin-bottom: 0;
}

ul.experiences li {
  position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
  /* use padding-bottom instead of margin-bottom.*/ 
  margin-bottom: 0; /* This overrides previously specified margin-bottom */
  padding-bottom: 2.5em;
}

ul.experiences li:after {
  /* bullets */
  content: url('http://upload.wikimedia.org/wikipedia/commons/thumb/3/30/RedDisc.svg/20px-RedDisc.svg.png');
  position: absolute;
  left: -10px; /*adjust manually*/
  top: 0px;
}

ul.experiences li:before {
  /* lines */
  content:"";
  position: absolute;
  left: 0px; /* adjust manually */
  border-left: 1px solid black;
  height: 100%;
  width: 1px;
}

ul.experiences li:first-child:before {
 /* first li's line */
 top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.experiences li:last-child:before {
  /* last li's line */
 height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}

