.material-ui-list{
  height:100%;
  width: 100%;
}

.top-opportunities-widget-container {
  overflow: hidden;
  /* margin-left:10px;
  margin-top:10px; */
}

.top-opportunities-title {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  height: 10%;
  font-family:'Helvetica';
}